/*
 * Overall root styling
 */
 
 body {
 	font-family: 'Arial', sans-serif;
 }
 
 #content {
 	width:100%;
 	margin:0;
 }
 
 #posts-container {
 	margin-left:auto;
 	margin-right:auto;
 	width:95%;
 	max-width:550px;
 }
 
/* 
 * Profile styling
 */
	
  #profile {
 	padding:3px;
 	margin-top:15px;
  }
  
  .username {
	color:grey;
	font-style: italic;
	font-size: small;
  }
  
  #profile .user_full_name {
  
  }
  
  #profile .bio {
	 width:70%;
  	 margin-left:auto;
  	 margin-right:auto;
  	 font-style:italic;
  	 margin-top:5px;
  	 padding:5px;
  }
 
/*
 * Post list styling
 */
 
 #post-list {
	margin-top:10px;
 }
 
 #post-list .post {
 	margin-top:5px;
 	padding:3px;
 }
 
/*
 * Post styling
 */
 
 .post {
 	margin-bottom: 10px;
 }
 
 .post .post-header {
 
 }
 
 .post-actions {
 	display:inline;
 	float:right;
 }
 
 .post .username {
	color:grey;
	font-style: italic;
	font-size: small;
 }
 
 .post .user_full_name {

 }
 
 .post .text {
 	padding:5px;
 }

 .post .time {
	color:grey;
	font-style: italic;
	font-size: small;
 }
 
 .post-options {
 	margin-right:auto;
 	margin-left:auto;
 }
 
 ul.options {
 	list-style: none;
 }
 ul.options li {
 	display:inline;
 	margin-right:5px;
 	margin-left:5px;
 }
 
 .time {
 	color:grey;
 	font-style:italic;
 	font-size:small;
 }

/*
 * Toolbar styling
 */

#reg-toolbar {
}

#user-toolbar {
}

.toolbar .toolbar-items {
	list-style: none;
	margin-left:auto;
	margin-right:auto;
}

.toolbar .toolbar-item {
	display:inline;
	margin-left: 5px;
	margin-right: 5px;
}
/* 
 * Link styling
 */ 


/*
 * Misc styling
 */ 
 .center {
	margin-left:auto;
	margin-right:auto;
	width:99%;
 }
 
 .hidden {
 	visibility:hidden;
 }
