{% extends "layout.html" %}

{% block head %}
<script type='text/javascript'>

function setChangeFlag(el) {
	$('#' + $(el).attr('id') + '_changed').val('true');
}

function saveToForm(el) {
	$('#' + $(el).attr('id') + '_text').val($(el).text());
	$('#' + $(el).attr('id') + '_changed').val('true');
}

</script>
{% endblock %}

{% block title %}Account and System Settings{% endblock %}

{% block profile %}
<div class="panel panel-default">
	<div class="panel-heading">
		<span class='user_full_name'>{{ user['user_full_name'] }}</span>
		<span class='username'><a href='{{ user_link }}'>@{{ user['username'] }}</a></span>
	</div>
		<div class="panel-body">
		<div class='bio'>{{ user['bio'] }}</div>
	</div>
</div>
{% endblock %}

{% block post_list %}
<!-- ==============================================================
	 Account Settings
     ============================================================== -->
<form method='post' action='{{ url_for("account") }}' name='account_settings_form'>
	<div class="panel panel-default">
		<div class="panel-heading">
			Account Settings
		</div>
		<div class="panel-body">
			<div class='post'>
				<label for='full_name'>Full name:</label>
				<input type='hidden' name='full_name_changed' id='full_name_changed' value='false' />
				<input type='text' class="form-control" name='full_name' id='full_name' value='{{ user["user_full_name"] }}' onchange='setChangeFlag(this);'/>
			</div>
			<div class='post'>
				<div class='post-content'>
					<input type='hidden' name='username_changed' id='username_changed' value='false' />
					<label for='username'>Username:</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">@</span>
						<input type='text' class="form-control" placeholder="Username" aria-describedby="basic-addon1" name='username' id='username' value='{{ user["username"] }}' onchange='setChangeFlag(this);'/>
					</div>
				</div>
			</div>
			<div class='post'>
				<label for='email'>Email:</label>
				<input type='hidden' name='email_changed' id='email_changed' value='false' />
				<input type='text' class="form-control" placeholder='An email we can send errors to.' name='email' id='email' value='{{ user["email"] }}' onchange='setChangeFlag(this);'/>
			</div>
			<div class='post'>
				<div class='post-content'>
					<label for='bio'>Bio:</label>
					<input type='hidden' name='bio_changed' id='bio_changed' value='false' />
					<input type='hidden' name='bio' id='bio_text' />
					<textarea id='bio' class="form-control" rows='4' maxlength='250' placeholder='Describe yourself!' onchange='saveToForm(this);'>{{ user['bio'] }}</textarea>
				</div>
			</div>
			<button class='btn btn-primary type='submit'>Save</button>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Change Password
		</div>
		<div class="panel-body">
			<div class='post'>
				<div class='post-content'>
					<input type='hidden' changed='password_changed' id='password_changed' value='false' />
					<label for='password'>New Password:</label>
					<input type='text' class="form-control" name='password' id='password' onchange='setChangeFlag(this);'/><br />
					<label for='password_confirm'>Confirm Password:</label>
					<input type='text' class="form-control" name='password_confirm' id='password_confirm' />
				</div>
			</div>
			<button class='btn btn-primary type='submit'>Save</button>
		</div>
	</div>
</form>
<!-- ==============================================================
	 System Settings
     ============================================================== -->
<form method='post' action='{{ url_for("account") }}' name='account_settings_form'>
	<div class="panel panel-default">
		<div class="panel-heading">
			System Settings
		</div>
		<div class="panel-body">
			Coming soon...
		</div>
	</div>
</form>
     
{% endblock %}		
