{% extends "layout.html" %}

{% block title %}Login to your account{% endblock %}
{% block head %}
<link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block profile %}
<div class='header'>
	<h2 class="form-signin-heading">Please sign in</h2>
</div>
<div class='error'>
	<span>{{ error }}</span>
</div>
{% endblock %}

{% block other_content %}
<div class="container">
  <form name='sign-in-form' class="form-signin" method='POST' action='/login'>
	<input type="username" name="username" class="form-control" placeholder="Username" required autofocus />
	<input type="password" name="password" class="form-control" placeholder="Password" required />
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div> <!-- /container -->
{% endblock %}
