{% extends "layout.html" %}

{% block title %}{{ user['user_full_name'] }}'s microblog{% endblock %}

{% block profile %}
<div class="panel panel-default">
	<div class="panel-heading">
		<span class='user_full_name'>{{ user['user_full_name'] }}</span>
		<span class='username'><a href='{{ user_link }}'>@{{ user['username'] }}</a></span>
	</div>
		<div class="panel-body">
		<div class='bio'>{{ user['bio'] }}</div>
	</div>
</div>
{% endblock %}

{% block post_list %}
	{# Add the posts to the list. #}
	{% for post in posts %}
		{% include 'post.html' %}
	{% endfor %}
{% endblock %}		


{% block footer %}
<input id='new-post-template-is-shown' type='hidden' value='false'/>
<div id='new-post-template' class='hidden'>
	<form action='{{ url_for("add_status") }}' method='POST'>
		<div class="panel panel-default">
		 <div class="panel-heading">
			What's going on?
			</div>
		  <div class="panel-body">
				<div class='text center'>
					<input rows="3" cols="50" maxLength="200" name='post-text'/>
				</div>
				<input type='submit' value='Post' />
			</div>
			<div class='post-options'>
				<!-- This is where the 'reply', 'get link to', etc options will go. -->
			</div>
		</div>
	</form>
</div>
<input id='new-follow-template-is-shown' type='hidden' value='false'/>
<div id='new-follow-template' class='hidden'>
	<form action='{{ url_for('add_follow') }}' method='POST'>
		<div class="panel panel-default">
	 <div class="panel-heading">
			To follow someone, copy their feed link here. 
		</div>
	  <div class="panel-body">
			<div class='text center'>
				<input rows="1" cols="50" maxLength="200" name='follow-url'/>
			</div>
			<input type='submit' value='Add' />
		</div>
		<div class='post-options'>
			<!-- This is where the 'reply', 'get link to', etc options will go. -->
		</div>
	</div>
	</form>
</div>
{% endblock %}