<div class="panel panel-default">
  <div class="panel-body">
		<span class='user_full_name'>{{ user.full_name }}</span>
		<span class='username'><a href='{{ user.profile }}'>{{ user.username }}</a></span>
		<div class='post-actions'>
			<form action='/unfollow' method='post'>
				<input type='hidden' name='username' value='{{ user.username }}'>
				<input type='hidden' name='user_link' value='{{ user.link }}'>
				<input type='hidden' name='user_id' value='{{ user.user_id }}'>
				<button type="submit" class="btn btn-sm btn-danger">Unfollow</button>
			</form>
		</div>
	</div>
	<div class='post-options'>
		<!-- This is where the 'reply', 'get link to', etc options will go. -->
	</div>
</div>